
<div class="container">
    <h2 class="m-5">Formulario</h2>
    <form [formGroup]="form">
      
        <!-- <div class="mb-4">
          <label for="nombre" class="form-label">Nombre y Apellido</label>
          <input [class.is-valid]="nombre.touched && nombre.valid" 
                 [class.is-invalid]="nombre.touched && nombre.invalid"
          type="text" class="form-control" id="nombre" aria-describedby="emailHelp" [formControl]="nombre">
          <div class="message" [class.active]="nombre.touched && nombre.invalid">
            <p>
              <strong *ngIf="nombre.touched && nombre.hasError('required')">Este campo es requerido</strong>
            </p>
          </div>
        </div> -->

        <!-- <div class="mb-4">
          <label for="nombre" class="form-label">Nombre y Apellido</label>
          <input [class.is-valid]="isNombreValid" 
                 [class.is-invalid]="isNombreInvalid"
          type="text" class="form-control" id="nombre" aria-describedby="emailHelp" formControlName="nombre">
          <div class="message" [class.active]="isNombreInvalid">
            <p>
              <strong *ngIf="nombre.touched && nombre.hasError('required')">Este campo es requerido</strong>
            </p>
          </div>
        </div> -->

        <div class="mb-4">
          <label for="nombre" class="form-label">Nombre y Apellido</label>
          <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" formControlName="nombre">
          <div class="message" >
            <p>
              <strong >Este campo es requerido</strong>
            </p>
          </div>
        </div>
        
        

        <!-- <pre>
           <code>{{nombre | json}}</code>
        </pre> -->

        <div class="mb-4">
          <label for="nacimiento" class="form-label">Fecha de nacimiento</label>
          <input type="date" class="form-control" id="nacimiento" aria-describedby="emailHelp" formControlName="fecha">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-4">
        <p>Genero</p>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="genero" id="femenino" value="femenino">
            <label class="form-check-label" for="femenino">Femenino</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="genero" id="masculino" value="masculino">
            <label class="form-check-label" for="masculino">Masculino</label>
          </div>
        </div>
      
        <div class="mb-4">
          <label for="exampleInputEmail1" class="form-label">Telefono</label>
          <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formArrayName="telefono">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
      
      <div class="mb-4">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>

      <div class="mb-4">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
      </div>

      <div class="mb-4 form-check">
        <input type="checkbox" class="form-check-input" id="terminos" formControlName="checkTerminos">
        <label class="form-check-label" for="terminos">Acepto Terminos y condiciones</label>
      </div>

      <div class="mt-4">
        <button type="submit" class="btn btn-primary" (click)="login()">Submit</button>
      </div>
      
    </form>
    </div>